:root {
    --background-color-aquamarine: aquamarine;
    --border-color-black: black;
    --color-text-black: black;
    --color-text-white: white;
    --color-text-green: green;
    --color-text-greenyellow: greenyellow;
    --color-text-red: red;
    --color-text-rgba: rgba(18, 190, 84, .5);
    --color-background-hover: white;
    --color-background-hover-checked: #b4cfe7;
    --color-background-active: #12be54;
    --color-background-passive: #11dbdb;
    --color-background-hover-cross: rgb(218, 93, 93);
    --color-background-change-001: #11dbdb;
    --color-background-change-002: #6acccc;
    --color-background-change-003: #47b343;
    --color-background-change-004: #12be54;
    --color-color-change-001: black;
    --color-color-change-002: #3a6868;
    --color-color-change-003: #b2bebe;
    --color-color-change-004: #ffffff;


}

body {
    background-color: var(--background-color-aquamarine);
}

.page__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}

.input__field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

.inp {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin: 0;
    border-radius: 15px;
    padding: 10px 75px 10px 20px;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}

.btn {
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.pluse {
    border-radius: 45px;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    right: 7px;
    top: 5px;
    border: 2px solid var(--color-text-green);
}

.pluse:hover {
    background-color: var(--color-text-greenyellow);
}

.pluse::before,
.pluse::after {
    content: '';
    position: absolute;
    top: 41%;
    left: 15%;
    width: 70%;
    height: 5px;
    background-color: var(--color-text-green);
    transition: background-color 0.3s ease;
}

.pluse::before {
    transform: rotate(1deg);
}

.pluse::after {
    transform: rotate(90deg);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    border: 1px solid var(--border-color-black);
    border-radius: 15px;
    width: 100%;
    background-color: var(--color-background-passive);
    overflow: visible;
}

.card-active {
    animation: changeBackground 3s;
    background-color: var(--color-background-active);
    color: var(--color-text-white);
}

.card-passive {
    animation: changeBackgroundBack 3s;
    background-color: var(--color-background-passive);
    color: var(--color-text-black);
}

@keyframes changeBackground {
    0% {
        background-color: var(--color-background-change-001);
        color: var(--color-color-change-001);
    }
    25% {
        background-color: var(--color-background-change-002);
        color: var(--color-color-change-002);
    }
    50% {
        background-color: var(--color-background-change-003);
        color: var(--color-color-change-003);
    }
    100% {
        background-color: var(--color-background-change-004);
        color: var(--color-color-change-004);
    }
}

@keyframes changeBackgroundBack {
    0% {
        background-color: var(--color-background-change-004);
        color: var(--color-color-change-004);
    }
    25% {
        background-color: var(--color-background-change-003);
        color: var(--color-color-change-003);
    }
    50% {
        background-color: var(--color-background-change-002);
        color: var(--color-color-change-002);
    }
    100% {
        background-color: var(--color-background-change-001);
        color: var(--color-color-change-001);
    }
}

.card__title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    width: 80%;
    margin: auto auto auto 0;
    padding: 5px;
}

.card__btn {
    cursor: pointer;
    border-radius: 45px;
    width: 30px;
    height: 30px;
    position: relative;
    transition: background-color 0.3s ease, color 0.s ease;
}

.card__btn:hover {
    background-color: var(--color-background-hover);
}

.card__btn-activ:hover {
    background-color: var(--color-text-rgba);
    color: var(--color-text-white);
}

.checkbox {
    position: relative;
    border: 2px solid var(--border-color-black);
    border-radius: 45px;
    cursor: pointer;
}

.checkbox::before,
.checkbox::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    content: '';
    position: absolute;
    background-color: var(--color-text-green);
}

.checkbox::before {
    top: 50%;
    left: -10%;
    width: 80%;
    height: 5px;
    transform: rotate(65deg);
}

.checkbox::after {
    top: 50%;
    right: -10%;
    width: 90%;
    height: 5px;
    transform: rotate(-65deg);
}

.checkbox.checked::before {
    opacity: 1;
}

.checkbox.checked::after {
    opacity: 1;
}

.checkbox.checked {
    border-color: var(--color-text-green);
}

.card__btn img {
    width: 30px;
    height: 30px;
}

.cross {
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--color-text-red);
}

.cross:hover,
.cross::after {
    background-color: var(--color-background-hover-cross);
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    top: 41%;
    left: 15%;
    width: 70%;
    height: 5px;
    background-color: var(--border-color-black);
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 633px) {
    .card__title {
        width: 70%;
    }
}

@media (hover: none) {
    .pluse:hover,
    .card__btn:hover,
    .card__btn:hover {
        background-color: var(--color-background-hover);
    }
}
