/* ubuntu-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ubuntu-v20-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ubuntu-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/ubuntu-v20-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ubuntu-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/ubuntu-v20-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
body{
    background-color: aquamarine;
}
.page__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    
}
.input__field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;

}
.inp{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;

    font-size: 15px;
    margin: 0;
    border-radius: 15px;
    padding: 10px 75px 10px 20px;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}
.btn{
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.pluse{
    border-radius: 45px;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    right: 7px;
    top: 5px;
    border: 2px solid green;
}

.pluse:hover{
    background-color: greenyellow;
}

.pluse::before, .pluse::after {
    content: '';
    position: absolute;
    top: 41%;
    left: 15%;
    width: 70%;
    height: 5px; /* Толщина линии */
    background-color: #37d637;
}

.pluse::before {
    transform: rotate(1deg);
}

.pluse::after {
    transform: rotate(90deg);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;

}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    background-color: #11dbdb;
    overflow: visible; /* Используем значение visible */
}

@keyframes changeBackground {
    0% {
      background-color: #0de4e4;
        color: #445555;
    }
    25% {
      background-color: #6acccc;
        color: #3a6868;
    }
    25% {
        background-color: #47b343;
        color: #0de4e4;
      }
    100% {
      background-color: #3bf381;
        color: #ffffff;
    }
}
.card-active{
    animation: changeBackground 3s ;

    background-color: #12be54;
    color: white;
}
@keyframes changeBackgroundBack {
    0% {
        background-color: #12be54;
        color: #ffffff;
    }
    25% {
        background-color: #0f6868;
        color: #0de4e4;
    }
    25% {
        background-color: #a6f3f3;
        color: #3a6868;
      }
    100% {
        background-color: #0de4e4;  
        color: #445555;
    }
}
.card-passive{
    animation: changeBackgroundBack 3s ;
    background-color: #11dbdb;
    color: black;
}
.card__title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    width: 80%;
    margin: auto auto auto 0;
    padding: 5px;
}
.card__h1{

}

.card__btn{
    /* margin: 0; */
    /* padding: 0; */
    cursor: pointer;
    border-radius: 45px;
    width: 30px;
    height: 30px;
    position: relative;
    transition: background-color 0.3s ease, color 0.s ease;
}

.card__btn:hover{
    background-color: #b4cfe7;
}


.card__btn-activ:hover{
    background-color: rgba(18, 190, 84, .5);
    color: white;
}



.checkbox {
    position: relative;
    border: 2px solid #333;
    border-radius: 45px;
    cursor: pointer;
}

/* .checkbox::before,  .checkbox::after {
    content: '';
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);

}
.checkbox::before {
    top: 40%;
    left: 5px;
    width: 16px;
    height: 16px;
    border: 17px solid #37d637;
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkbox::after {
    top: 50%;
    left: 4px;
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkbox.checked::before {
    opacity: 1;
}

.checkbox.checked::after {
    opacity: 1;
}

.checkbox.checked {
    border-color: #37d637;
} */
.checkbox::before, .checkbox::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    content: '';
    position: absolute;
    
    background-color: #37d637; /* Цвет линии */
}

.checkbox::before {
    top: 50%;
    left: -10%;
    width: 80%;
    height: 5px;
    transform: rotate(65deg);
}

.checkbox::after {
    top: 50%;
    right: -10%;
    width: 90%;
    height: 5px; /* Толщина линии */
    transform: rotate(-65deg);
}

.checkbox.checked::before {
    opacity: 1;
}

.checkbox.checked::after {
    opacity: 1;
}

.checkbox.checked {
    border-color: #37d637;
} 



.card__btn img {
    width: 30px; /* Замените этот размер на желаемый */
    height: 30px; /* Замените этот размер на желаемый */
}

.cross {
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    background-color: red;

}
.cross:hover, .cross::after{
    background-color: rgb(218, 93, 93);
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    top: 41%;
    left: 15%;
    width: 70%;
    height: 5px; /* Толщина линии */
    background-color: black; /* Цвет линии */
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}
  
@media screen and (max-width: 633px){
    .card__title{
        width: 70%;
    }
    
}
/*media for touchS */
@media (hover: none) {
    .pluse:hover{
        background-color: white;
    }
    .card__btn:hover{
        background-color: white;
    }
    .card__btn:hover{
    background-color: white;
    }
}